*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}
a{
    color: #000;
}
.container{
    width: 100%;
    height: 100%;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 20vh;
    background-color:#fff;
    overflow-y: hidden;
}
.navbar hr{
    border: 1px solid #000;
    margin-left: 2%;
    width: 96%;
}
.navbar_logo{
    position: relative;
    margin: 1% 2%;
    font-size: 3rem;
}
.navbar_logo span{
    display: block;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke:0.1rem #000;
}
nav{
    position: absolute;
    top:0;
    margin-top: 1%;
    right: 2%;
}
nav ul li{
    font-size: 1.8rem;
    display: inline-block;
    margin-left: 50px;
}
main{
    position: relative;
    /* top: 20vh; */
    margin-top:2%;
    margin-bottom: 5vh;
}
.objects{
    width: 96%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .1rem;
    padding:.1rem;
    font-size: 3rem;
    background-color: #000;
    
}
.cube{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:#fff;
    color: #000;
}
.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #fff;
}
.footer dt{
    font-size: .8rem;
}

