*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Roboto', sans-serif;
    list-style: none;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100%;   
}
.title{
    height: 100%;
    margin: 1% 4%;
}
.title dt{
    color: #000;
    font-size: 9rem;
    line-height: 9rem;
}
.title dt span{
    display: block;
}
hr{
    border: 3px solid #000;
    border-radius: 1px;
}
.navigation{
    width: 92%;
    height: 100%;
    margin-left: 4%;
}
.upper_row{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower_row{
    display: flex;
    justify-content: space-between;
}
.nav_items{
    width: auto;
    height: auto;
    margin-top: 1px;

}
.nav_items a{
    /* color: #000; */
    -webkit-text-stroke: 0.2rem #000;
    -webkit-text-fill-color: #fff;
    font-size: 8.5rem;
}

.nav_items a:hover{
    -webkit-text-stroke: 0rem #000;
    -webkit-text-fill-color: blue;
}
/* .nav_items{
    background-color: aquamarine;
    color: #fff;
}
.nav_items a{
    font-size: 6rem;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 0.1rem #000;
} */